# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
frontend_prompt_ar/.dart_tool/
frontend_prompt_ar/.flutter-plugins
frontend_prompt_ar/.flutter-plugins-dependencies
.pub-cache/
frontend_prompt_ar/.pub/
frontend_prompt_ar/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
frontend_prompt_ar/android/app/debug
frontend_prompt_ar/android/app/profile
frontend_prompt_ar/android/app/release
.vscode/settings.json
frontend_prompt_ar/.metadata

# Python related
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/fake_model.glb
backend/.env
backend/.env.local
frontend_prompt_ar/.env
frontend_prompt_ar/.env.local
backend/models/041bc06f-a622-400d-8857-1a430a10caa7.glb
backend/models/images/50561af0-7724-4b79-88f6-f8bb55e667fb.png
backend/models/images/784769bb-8463-47d0-83ab-4ce76f244446.png
frontend_prompt_ar/.fvm/flutter_sdk
frontend_prompt_ar/.fvm/fvm_config.json
frontend_prompt_ar/.vscode/launch.json
